*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
   background-color: black;    
   margin: 5px 5px ;
}
header{
    display: flex;
    background-color: #000000;
}
.logo{
    margin-left: 80px;
    margin-top: -20px;
}
ul, a{
    display: flex;
    color: rgb(253, 228, 2);
    text-decoration: none; /* remove the ligne */
    list-style: none; /* remove the style */
    margin-left: 500px;
}

ol{
    display: flex;
    list-style: none;
}
a{
    margin-left: 30px;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0) ;
    border-radius: 2px;
}
h1{
    color: white;
    margin-left: 25px;
}
p{
    color: white;
    margin-left: 50px;
}

div{
    width: 350px;
    height: 30px;
}
.container{
    width: 100%;
    display: flex;
    
}
.box{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 9px;
    width: 250px;
    height: 450px;
    margin: 20px;
    margin-left: 30PX;
}
h3{
    color: white;
    margin-left: 50px;
}

.imageVideo{
    height: 350px;
    width: 240px;
}
section{
    margin-top: 30px;
}